@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.parasofmid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parasparents{
    width:545px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: last baseline;
}
.flexes{
    margin-left: 9px;
}
.parasparents span{
    color: rgb(231, 198, 10);
    font-size: 25px;
    font-weight: bolder;
}
.middlesec{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(242,245,250);
    width: 100%;
    color:rgb(83, 83, 83) ;
   
}
.parasparents p{
    font-weight: 600;
}
@media screen and (max-width:600px){
    .parasparents{
        width: 80%;
    }
}