.rsbody{
    height: 1410px;
    padding-bottom: 19px;
}
.resume{
 border-radius: 9px;
}
.header{
    margin-top: 19px;
    font-size: 19px;
    text-align: left;
    margin-left: 49px;
    position: absolute;
    top:19px;
}
.smalltextdown{
    width:fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    align-items: left;
    justify-content: center;
    left:-2px;
    top:84px
}
.smalltextdown p{
    font-size: 13px;
    margin:3px
}
.obj{
    position: absolute;
    font-size: 15px;
    width: 80%;
    margin: auto;
    text-align: left;
    margin-top: 19px;
    top:229px;
    left: 49px;
}
.objhead{
    position: absolute;
    left:49px;
    top:189px;
    font-weight: 500;
}
.objhead2{
    position: absolute;
    left:49px;
    top:460px
}
.objhead3{
    position: absolute;
    left:49px;
    top:580px
}
.objhead4{
    position: absolute;
    left:49px;
    top:689px
}
.edu{
    position: absolute;
    left:49px;
    top:522px;
    text-align: left;
}
.exp{
    position: absolute;
    left:49px;
    top:641px;
    text-align: left;
}
.award{
    position: absolute;
    left:49px;
    top:756px;
    text-align: left;
}
li{
    margin-bottom: 9px;
    font-size: 15px;
}
.btnpr{
    position: absolute;
    top:1139px;
    bottom: 9px;
}