@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.templates{
    padding: 0 19px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(242,245,250);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 49px 0;
    width: 100%;
    color:rgb(83, 83, 83) ;
    margin-top: -7px;
}
.templates img{
    width: 290px;
    height: 420px;
    background: #e0e0e0;
    box-shadow:  9px 9px 28px #aaaaaa,
                -9px -9px 28px #ffffff;
    margin: 59px 19px;
    border-radius: 8px;
}
.templateheader{
    width: 45%;
}
.templateselbtn{
    cursor: pointer;
    background-color: rgb(247, 213, 65);
    border: none;
    outline: none;
    height: 45px;
    width: max-content;
    padding: 0 15px;
    border-radius: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:rgb(43, 43, 43) ;
    margin: 15px 0;
}
@media screen and (max-width:1427px) {
    .templates{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:1062px) {
    .templateheader{
        width: 85%;
    }
}
.templateheader p{
    width: 80%;
    margin: auto;
    font-weight: 600;
}
@media screen and (max-width:996px) {
    .templateheader{
        width: 95%;
    }
    .templates img{
        margin: 20px 19px;
    }
}