.template2{
    display:flex;
    flex-direction: row;
    padding-top: 25px;
    width: inherit;
    height: inherit;
}
.left2{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 84%;
    width:20%;
    padding-top: 21px;
    border-right: 1px solid rgb(184, 184, 184);
    margin-right: 22px;
    padding-right: 22px;
}
.right2{
    text-align: left;
    position: relative;
    width: 70%;
    margin-right: auto;
}
.image2{
    width: 95px;
    margin-left: auto;
    height: 95px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}
.tp2{
    font-size: 14px;
    margin-top: 6px;
}
.boldtextname{
    color:rgb(58, 120, 253) ;
    font-weight: 700;
    font-size: 24px;
}
.summary2{
    position: absolute;
    top:50px;
}
.skillheading2{
    position: absolute;
    top:258px
}
.skills2{
    position: absolute;
    top:309px
}
.edu2head{
    position: absolute;
    top:409px
}
.edu2{
    position: absolute;
    top:459px
}
.lng2head{
    position: absolute;
    top:539px
}
.lang2{
    position: absolute;
    top:607px
}
.port2head{
    position: absolute;
    top:669px
}
.port2{
    position: absolute;
    top:734px
}
.proj2head{
    position: absolute;
    top:774px
}
.projects2{
    position: absolute;
    top:835px
}